# Ignore everything
/*

# Then choose, what to include
!.gitignore
!/nvim/
!/sway/
!/wofi/
!/alacritty/
!/waybar/

!/Code - OSS/
/Code - OSS/**
!/Code - OSS/User/
!/Code - OSS/User/settings.json
!/Code - OSS/User/keybindings.json
